PUBLIC_SUPABASE_URL=your_supabase_project_url
PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_DB_URL=your_supabase_db_url
PUBLIC_DEFAULT_LOCALE=en
PUBLIC_SITE_URL=http://localhost:5173
